* {
    
    border-color: gray;
    display: block;
    margin: auto;
}
.content{
    border-style: solid;
    border-color: gray;
    display: block;

	<

h1{
	font-family: Times; 
	display: contents;
	margin-bottom: auto;
	}

label{
	font-size: initial;
    display: -webkit-inline-box;
	border-color: white;
	margin-block-start: auto;
	padding: 1px 2px;

}

}

p.header{
	width: auto;
	padding: 10px;
	
}

a {
	color: blue;
}
h2 {
	text-align:center;

}

#Buscar{
	font-size: initial;
display: -webkit-inline-box;
	font: message-box:
	
	}
#primero{
	border-style: solid;
    border-color: gray;
    display: block;
    display: contents;
}	
.columna1{
	border-block-start: none;
    border-color: gray;
    display: block;
    width: fit-content;
    <
    #Noticias{
    	margin-top: auto;
    }
    #Lorem{
    	
    }
    #EnlacesRelacionados{

    }
}
.columna2{
	border-style: solid;
    border-color: gray;
    display: block;
    width: fit-content;
	<
#object-position-1{
	margin: auto;
	align-content: normal;
	object-position: 20% 10%;
}
}

